<div class="sidebar">
  <div style="text-align: center;">
  	<h2 class="sidebar_header">Archive</h2><hr class="scotch-rule">
		<ul>
			<li><a href="#">Jan, 2018</a></li>
			<li><a href="#">Feb, 2018</a></li>
			<li><a href="#">March, 2018</a></li>
			<li><a href="#">April, 2018</a></li>
			<li><a href="#">May, 2018</a></li>
			<li><a href="#">Jun, 2018</a></li>
		</ul>
  </div>
	<div style="text-align: center;">
		<h2 class="sidebar_header">Connect</h2><hr class="scotch-rule">
		<ul>
			<li><a title="facebook" href="#">Facebook</a></li>
			<li><a title="twitter" href="#">Twitter</a></li>
			<li><a title="instagram" href="#">Instagram</a></li>
			<li><a title="google+" href="#">Google+</a></li>
			<li><a title="linkedIn" href="#">LinkedIn</a></li>
		</ul>
	</div>
</div>