<% include ../partials/header %>
<div class="main_container">
  <div class="page_content">
    <div class="page_head"><h2 class="page_header">Edit News</h2><hr class="scotch-rule"></div>
    <form action="/api/v1/blogs/<%=blog._id%>?_method=PUT" method="POST" novalidate="novalidate">
      <div class="col-sm-6">
        <div class="form-field">
          <label for="title">Blog Title: <span class="page_form_input_required">*</span></label>
          <input type="text" name="blog[title]" value="<%= blog.title %>" placeholder="Enter blog title" style="width: 95%;" class="career_page_create_form_input" id="title" aria-required="true" aria-invalid="false" autofocus />
        </div>
        <br>
        <div class="form-field">
                <label for="description">Blog Description  <span class="page_form_input_required">*</span></label>
                <textarea name="blog[description]" placeholder="Enter blog description" cols="40" rows="10" style="width: 95%;" class="page_form_input" id="description" aria-required="true" aria-invalid="false"><%= blog.description %></textarea>
            </div>
        <div class="">
          <button>Create Blog</button>
        </div>
      </div>
    </form>
  </div>
  <% include ../partials/sidebar %>
</div>
<% include ../partials/footer %>