<% include ../partials/header %>
<div class="main_container">
  <div class="page_content">
	  <div class="page_head"><h2 class="page_header">Latest News</h2><hr class="scotch-rule"></div>
			<div class="blog_content">
				<% blogs.forEach(function(blog){ %>
				  <div class="blog_container">
				    <p class="blog_header"><strong><%=blog.title%></strong></p><hr>
				    <p><small><b>Posted by Admin <%= moment(blog.created_date).fromNow() %></b></small></p>
				    <p class=""> <%= blog.description%></p>
				    <a class="blog_details" href="/blogs/<%= blog._id %>"><strong>Read more &hellip;</strong></a>
				  </div>
				<% }); %>
			</div>
  </div>
  <% include ../partials/sidebar %>
  </div>
<% include ../partials/footer %>
