<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to Blogging news</title>
    <link rel="stylesheet" type="text/css" href="/styles/blog-home-mobile.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width:690px) and (max-width: 964px)" href="/styles/blog-home-mini.css" />
    <link rel="stylesheet" type="text/css" media="screen and (min-width:965px)" href="/styles/blog-home-desktop.css" />
  </head>
  <body>
    <div class="container" id="" >
       <header class="header">
       <nav>
          <ul class="nav_menu" id="nav_menu">
              <li class="logo"><a class="" href="/home"><h3>&hellip;&vellip;&hellip;</h3></a></li>
              <li class="nav_item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a class="nav_link" href="/register">Sign up</a></li>
              <li class="nav_item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a class="nav_link" href="/login">Sign in</a></li>
            </ul>
        </nav>
      </header>
  	  <section class="page_content">
  	    <div class="hero_text_container">
  	      <h1 class="hero_text_header">Welcome Blog Demo &hellip;</h1>
  	      <h2 class="hero_text_header">Do whatever you want when you want to.</h2>
  	      <a class="hero_button" href="/blogs">Get Started</a>
  	    </div>
  	  </section>
    </div>
  </body>
</html>