/********Default params********/
/*<h1>&hellip;&vellip;&hellip;</h1>*/
* { box-sizing: border-box }
html,body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1em;
  width: 100%;
  min-height: 100%;
}
h1,h2,h3,h4,h5,h6,ul,li,p,hr, div, header, footer {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
header, footer {
	background-color: #1b1c1d;
  	color: rgba(255, 255, 255, 0.9);
  	min-height: 45px;
}
.logo {
  margin: 0 20% 0 0; 
}
.container {
  display: grid;
  grid-template-columns: 75% 25%;
  /*grid-template-rows: 1fr auto auto;*/
  grid-gap: 0.5em;
  margin: 0;
  padding: 0;
  min-height:100%;
  grid-template-areas:
  "header header"
  "main_container main_container"
  "footer footer";
}
.header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "";
}
.main_container {
  grid-area: main_container;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  grid-template-areas: 
  "page_content sidebar";
}
.page_content {
  grid-area: page_content;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 15% 85%; */
  grid-template-areas:
  "page_head"
  "blog_content";
  font-size: 1em;
  padding: 0;
  margin: 0;
}
.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  /*grid-template-areas:
  ""
  "";*/
  font-size: 1em;
  padding: 0;
}
.blog_content {
  grid-area: blog_content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "blog_container";
}
.footer {
  grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr
}
.nav_menu {
	display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 10px 20px;
}
.nav_item:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    
}
.nav_link {
  color: rgba(255, 255, 255, 0.9);
}
.nav_link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.hero_text_container {
    font-size: 1.14285714rem;
}
.hero_text_container {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    width: 100%;
    line-height: 1.5;
    margin-top: 35%;
    text-align: center;
}
.hero_text_header {
	text-transform: uppercase;
}
.hero_button {
	padding: 5px;
	font-weight: bold;
  line-height: 1em;
  font-style: normal;
	background: #2185d0;
	color: rgba(255, 255, 255, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.9);
}
.page_content {
  font-size: 1em;
  padding: 0 10px;
}
.page_header {
  text-align: center;
  text-transform: uppercase;
  margin: 8px 0;
}
.page_button {
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  background: #2185d0;
  color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.9);
}
.blog_container {
  max-width: 90%;
  padding: 15px;
  margin: 15px auto;
  background-color: #f4f4f4;
}
.blog_header {
  text-align: center;
  text-transform: uppercase;
  margin: 8px 0;
}
.blog_details {
  color: #000000;
  font-weight: bold;
  line-height: 2em;
  font-style: normal;
}
.blog_content {
  padding: 0 10px 10px 10px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 15px 0 5px;
  color: #000000;
  background-color: unset;
}
.sidebar  a {
  color: #000000;
  cursor: pointer;
}
.sidebar  a:hover {
  border-bottom: 1px solid #000000;
}
.sidebar_header {
  margin: 8px 0;
}
footer {
  text-align: center;
  margin: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.footer_content {
  padding-top: 15px;
}
.active {
	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}
.scotch-rule:first-child {
    margin: 0 0 6px;
}
.scotch-rule {
    border-left: none;
    border-right: none;
}
.scotch-rule {
    box-sizing: content-box;
    content: '';
    display: block;
    border-top: 2px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    height: 1px;
    margin: 15px 0;
    background-color: #fff;
    margin-top: 12px;
    margin-bottom: 12px;
}